@import url("grid.css");


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans Condensed', Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #161616;
  background-color: white;
}

header {

  /* position */
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;



  /* design */
  padding: 10px 30px;
  background-color: white;
  background-image: linear-gradient( rgba(6, 62, 62, 0.54) 10%, rgba(131, 138, 138, 0.38) 90%);
  box-shadow: -1px 20px 100px 0px rgba(95, 70, 77, 0.46);
}

.header_heading {
  font-family: 'VT323', monospace;
  font-weight: lighter;
  font-size: 50px;
  line-height: 30px;
  margin: 10px;
  color: rgb(10, 255, 223);
}

.header_nav-link {
  font-family: 'VT323', monospace;
  text-decoration: none;
  font-weight: lighter;
  font-size: 30px;
  line-height: 30px;
  margin: 10px;
  color: rgb(10, 255, 223);
}

.header_nav:hover {
  color: rgb(10, 255, 223);
  transition: color .3s ease-out, border-color .3s ease-out;
}


.main {
  padding-top: 100px;
  padding-right: 220px;
  padding-left: 30px;
  padding-bottom: 30px;
  position: relative;
}

.main_contacts {
  padding-top: 100px;
  padding-left: 30px;
  padding-bottom: 30px;
  position: relative;
}

.contacts_section {
    padding-top: 30px;
    display: flex;

    justify-content: space-around;
    align-items: center;
}
.flow-contacts {

}

.contacts_email {
  margin: 0;
  font-size: 26px;
  color: #9ea3a7;
}

.contacts_email-link {
  /* design */
  color: #9ea3a7;
  border-bottom: 1px solid #94e8d9;
  text-decoration: none;

  /* add transition for hover */
  transition: border-color .3s ease-out;
}
.contacts_email-link:hover {
  border-color: transparent;

  font-weight: bold;
  color: #678e8e;
}

.izuminka_contacts {
  font-family: 'VT323', monospace;
  font-weight: lighter;
  font-size: 39px;
  text-decoration: none;
  line-height: 30px;
  margin: 10px;
  color: rgba(10, 255, 223, 0.45);
  text-shadow: 0px 2px 0px rgb(251, 121, 121);
}
.izuminka_contacts:hover {
  color: rgb(251, 93, 93);
  text-decoration: none;
  text-shadow: 0px 2px 0px rgb(10, 255, 223);
}
.flow {
  /* design */
  padding-top: 30px;
}
.flow_post {
  display: flex;
  padding: 20px;
  background-color: rgba(255,255,255,.5);
  box-shadow: -2px 1px 20px 5px rgba(214, 189, 189, 0.33);
  margin-bottom: 60px;
}

.flow_post-image {
  flex-basis: 150px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.flow_post-body {
  flex-grow: 1;
}

.flow_post-heading {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;

  /* design */
  color: rgb(184, 218, 220);
}
.flow_post-content {
  margin: 0;
}
.flow_post-more {

}
.flow_post-more-link {
  display: inline-block;

  /* design */

  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  color: rgb(10, 255, 223);
  font-weight: 700;
  border-bottom: 2px solid rgb(10, 255, 223);

  /* add transition for hover */
  transition: color .3s ease-out, border-color .3s ease-out;
}

/* hover */
.flow_post-more-link:hover {
  margin: 5px;
  font-size: 22px;
  color: red;
  border-color: transparent;
}

.post {

}
.post_primary-heading {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;

  /* design */
  color: rgb(184, 218, 220);

}
.post_heading {
  margin-top: 30px;
  margin-bottom: 10px;
  color: rgb(101, 161, 165);

}


.aside {
  width: 200px;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 0;
    text-align: right;

  /* design */
  padding: 20px 30px 20px 10px;
}
.aside_heading {
  font-family: 'VT323', monospace;
  font-size: 31px;
  line-height: 30px;
  margin: 10px;
  color: rgb(10, 255, 223);
}
.aside_nav-item {

  margin-bottom: 15px;
}
.aside_nav-link {

  /* design */

  font-weight: 700;
  color: #54aba3;
  border-bottom: 2px solid rgba(212, 145, 145, 0.49);
  text-decoration: none;
}

/* hover */
.aside_nav-link:hover {
  color: rgb(10, 255, 223);
  border-color: transparent;
}

.izuminka {
  font-family: 'VT323', monospace;
  font-weight: lighter;
  font-size: 30px;
  text-decoration: none;
  line-height: 30px;
  margin: 10px;
  color: rgba(10, 255, 223, 0.45);
  text-shadow: 0px 2px 0px rgb(251, 121, 121);
}
.izuminka:hover {
  color: rgb(251, 93, 93);
  text-decoration: none;
  text-shadow: 0px 2px 0px rgb(10, 255, 223);
}

.izuminka2 {
  font-weight: bolder;
  font-size: 25px;
  text-decoration: none;
  line-height: 30px;
  margin: 4px;
  color: rgba(134, 222, 210, 0);
  text-shadow: 0px 0px 2px rgb(18, 105, 121);
}
.izuminka2:hover {
  color: rgba(241, 74, 74, 0.85);
  transition-duration: 2s;
  text-decoration: none;
  text-shadow: 0px 0px 9px rgba(76, 165, 153, 0.55);
}

.izuminka3 {
  font-weight: lighter;
  text-decoration: none;
  line-height: 30px;
  border-bottom: 1px solid rgb(10, 255, 223);
  color: rgba(134, 222, 210, 0);

}
.izuminka3:hover {
  color: rgb(195, 134, 134);
  font-weight: 700;
  text-decoration: none;
  border-color: transparent;
}

.gallery {
  padding: 100px;
}

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item {
  height: 0;
  padding-top: calc(100% / 3 - 40px);
  flex-basis: calc(100% / 3 - 40px);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.85);
  margin: 20px;
}

.footer {
  /* flexbox */
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* design */
  color: white;
  font-size: 20px;
  line-height: 36px;
  padding: 10px 30px;
  background-color: white;
  background-image: linear-gradient( rgba(185, 184, 184, 0.53) 10%, rgba(14, 66, 66, 0.42) 90%);
  box-shadow: 1px -11px 60px 0px rgba(95, 70, 77, 0.35);
}

.footer_contacts {
  /* flexbox */
  display: flex;
  justify-content: space-around;

  /* design */
  color: white;
  font-size: 20px;
  line-height: 36px;
  padding: 10px 30px;
  background-color: white;
  background-image: linear-gradient( rgba(185, 184, 184, 0.53) 10%, rgba(14, 66, 66, 0.42) 90%);
  box-shadow: 1px -11px 60px 0px rgba(95, 70, 77, 0.35);
}
.footer_copyright {
  margin: 0;
}
.footer_email {
  margin: 0;
}
.footer_email-link {

  /* design */
  color: #f4faff;
  border-bottom: 1px solid #f4faff;
  text-decoration: none;

  /* add transition for hover */
  transition: border-color .3s ease-out;
}

/* hover */
.footer__email-link:hover {
  border-color: transparent;
}





/*   GALLERY background-image-svg */
.background-img-svg {
  width: 700px;
  height: 100px;
  margin: 10px;
  background-image: url("img/pumpkin.svg");
  background-repeat: repeat;
}

.background-img-img {
  width: 300px;
  height: 100px;
  margin: 10px;
  background-image: url("img/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.linear-gradient-3 {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(lime, fuchsia, teal);
  margin: 50px;
}

.linear-gradient-4 {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(orange 10%, teal 50%, red 45%, aqua 70%);
  margin: 50px;
}

.radial-gradient {
  width: 400px;
  height: 200px;
  background-image: radial-gradient(circle, pink, yellow);
  margin: 50px;
}

.radial-gradient-2 {
  width: 400px;
  height: 200px;
  background-image: radial-gradient(at left bottom, pink, yellow);
  margin: 50px;
}

.gradient-generator {
  width: 200px;
  height: 200px;
  background-image: linear-gradient(to bottom, #e4f5fc 0%,#2cf9c3 100%); /* W3C, IE10+, FF16+,  */
  margin: 50px;
}


.box-shadow {
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 10px 15px 5px 1px black;
  margin: 44px;
}

.box-shadow-inset {
  width: 100px;
  height: 100px;
  background-color: rgba(227, 245, 243, 0.5);
  border: 1px solid white;
  box-shadow: inset 1px 0px 17px 8px rgba(0, 255, 255, 0.5);
  margin: 44px;
}
